body {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}

main {   
    background-color: hsl(215, 14%, 34%);   
}

.navbar-bg {
    background-color: hsl(215, 28%, 17%);
}

.card-background {
    background-color: hsl(215, 28%, 17%);
}

.range {
    background: hsl(215, 14%, 34%);
}

.form-input, .form-select {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);    
}

.form-input::placeholder {
    color: hsl(0, 0%, 100%);
}

.form-input:focus {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}