body {
    background-color: hsl(215, 14%, 34%);  
    color: hsl(0, 0%, 100%);
}

.navbar-bg {
    background-color: hsl(215, 28%, 17%);
}

footer {
    background-color: hsl(215, 28%, 17%);
}

.card-background {
    background-color: hsl(215, 28%, 17%);
}

.range {
    background: hsl(215, 14%, 34%);
}

.text-box {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);    
}

.text-box:focus {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}

.fa-solid.fa-gear {
    color: hsl(0, 0%, 80%);
}

.fa-solid.fa-gear:hover {
    color: hsl(0, 0%, 100%);
}

.status-success {
    color: hsl(113, 100%, 50%);
}

.status-fail {
    color: hsl(0, 100%, 50%);
}

.brand-text {
    text-shadow: 3px 3px 10px hsl(0, 0%, 30%), 
        -3px 3px 10px hsl(0, 0%, 30%), 
        3px -3px 10px hsl(0, 0%, 30%), 
        -3px -3px 10px hsl(0, 0%, 30%);
}

.navbar-text {
    text-shadow: none;
}