body {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}

main {   
    background-color: hsl(215, 14%, 34%);   
}

.navbar-bg {
    background-color: hsl(215, 28%, 17%);
}

.card-background {
    background-color: hsl(215, 28%, 17%);
}

.range {
    background: hsl(215, 14%, 34%);
}

.text-box {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);    
}

.text-box:focus {
    background-color: hsl(215, 28%, 17%);
    color: hsl(0, 0%, 100%);
}

.fa-solid.fa-gear {
    color: hsl(0, 0%, 80%);
}

.fa-solid.fa-gear:hover {
    color: hsl(0, 0%, 100%);
}