@media only screen and (max-device-width: 992px) {
    .navbar-brand {
        order: 1;
    }

    .navbar-toggler {
        margin-left: auto;
        order: 2;
    }

    #toggleDarkMode {
        margin-left: 10px;
        order: 3;
    }

    .navbar-collapse {
        margin-left: auto;
        order: 4;
    }

    .dropdown-menu {
        text-align: center;
    }
}

@media only screen and (max-device-width: 768px) {
    .offense {
        width: auto;
    }

    .offense-range input {
        width: auto;
    }

    .donate-count input {
        width: 25%;
    }

    #earthquakeOrder {
        width: 100%;
    }
}

@media only screen and (max-device-width: 576px) {
    .navbar-brand {
        font-size: 0.9em;
    }
}