/* Main */
.main-container {
    width: 90%;
}

/* Navbar */
nav {
    font-size: 1.2em;
    text-align: center;
}

/* Search Bar */
.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top:20px;
    left: 20px;
    color: hsl(218, 11%, 65%);
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    border: none;
}

.form-input:focus {
    box-shadow: none;
    border:none;
}

#earthquakeOrder {
    width: 50%;
}

/* Image Container */
.image-container {
    position: relative;
    display: inline-block;   
    background-color: rgb(85, 151, 250);
    border: 1px solid rgb(0, 102, 255);
    border-radius: 10px;
}

.image-container img {
    display: block;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 7px;
}

.overlay-equipment {
    width: auto;
    height: auto;
    padding: 2px 6px;
}

.level-number {
    font-size: 16px;
    font-weight: bold;
}

.offense {
    width: 230px;
}

.offense-range input {
    width: 100%;
}

/* Card Container */
.card-container {
    height: 82px;
    width: 52px;
    border-radius: 5px;
}

.card-container img {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 5px;
}

.overlay-card {
    width: auto;
    height: 16px;
    padding: 2px 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.equipment-card {
    width: auto;
    height: 16px;
    padding: 2px 2px;
    border-radius: 4px;
}

.overlay-card .level-number, .equipment-card {
    font-size: 12px;
}

.rounded-border {

    border-radius: 20px;
}

/* Variance & Utilities */
.immune {
    background-color: rgb(255, 70, 70);
    border: 1px solid rgb(150, 0, 0)
}

.epic-rarity {
    background-color: rgb(191, 0, 255);
    border: 1px solid rgb(68, 0, 116);
}

.not-maxed {
    background: hsl(0, 0%, 35%);
    color: hsl(0, 0%, 100%);
}

.maxed {
    background: hsl(45, 100%, 50%);
    color: hsl(0, 0%, 0%);
}

.earthquake-spell-bg {
    background-color: hsl(49, 12%, 37%);
}

.donate-img {
    position: absolute;
    bottom: 60px;
    left: 5px;
}

.donate-card-img {
    position: absolute;
    bottom: 30px;
    left: 5px;
    z-index: 1;
}

#toggleDarkMode {
    width: 50px;
    border: none;
    background: none;
}

/* Icon */
.fa-solid.fa-moon.fa-2x {
    color: hsl(210, 2%, 75%);
}

.fa-solid.fa-moon.fa-2x:hover {
    color: hsl(0, 0%, 25%);
}

.fa-solid.fa-sun.fa-2x {
    color: hsl(210, 2%, 75%);     
}

.fa-solid.fa-sun.fa-2x:hover {
    color: hsl(43, 100%, 50%);     
}

/* Range Slider */
.range {
    appearance: none; /* Standard */
    -webkit-appearance: none; /* WebKit */
    -moz-appearance: none; /* Firefox */
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

.range::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 16px;
    background: hsl(0, 0%, 80%);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(215, 14%, 34%); 
    box-shadow: -407px 0 0 400px hsl(215, 14%, 34%); 
}

.range::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(215, 14%, 34%); 
    box-shadow: -407px 0 0 400px hsl(215, 14%, 34%); 
}

.range::-moz-range-track {
    height: 15px;
    border-radius: 16px;
    background: hsl(0, 0%, 80%);
}

.range::-ms-track {
    height: 15px;
    border-radius: 16px;
    background: hsl(0, 0%, 80%);
    border-color: transparent;
    color: transparent;
}

.range::-ms-thumb {
    -ms-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(215, 14%, 34%);
    box-shadow: -407px 0 0 400px hsl(215, 14%, 34%);
}

.range::-ms-fill-lower {
    background: hsl(215, 14%, 34%);
    border-radius: 16px;
}

.range::-ms-fill-upper {
    background: hsl(0, 0%, 80%);
    border-radius: 16px;
}